@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

@font-face {
    font-family: "AGRevueCyr";
    src: url(./fonts/AGRevueCyr\ Roman\ Medium.ttf);
}

:root {
    --mainWhite: #eff6ff;
    --mainBlue: #2563eb;
    --mainShadow: #93c5fd;
}

*::after *::before {
    box-sizing: border-box;
}

body {
    background-color: #dbeafe;
}

.text {
    font-family: 'Mingzat', sans-serif;
    font-size: 16px;
}

#modal {
    background-color: var(--mainWhite);
    border-radius: 5px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;

    width: 300px;
    padding: 30px 40px;

    transition: .2s ease-in-out;
}

    #modal.active {
        transform: translate(-50%, -50%) scale(1);
    }

    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        height: 100%;
    }

        #form .text {
            font-size: 18px;
        }

        #bookInfoInput {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
        }

            .inputCont {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .inputCont input {
                    width: 200px;
                    height: 25px;
                    padding: 5px 10px;
                    
                    background-color: #cfe2fa;
                    border-radius: 5px;
                    border: none;
                }

                    .inputCont input:hover {
                        outline: 2px solid var(--mainShadow);
                    }

                    .inputCont input:focus {
                        outline: 2px solid var(--mainBlue)
                    }
            
        #submitButton {
            background-color: var(--mainBlue);
            color: var(--mainWhite);
            border: none;
            border-radius: 5px;
            padding: 8px 16px;

            transition: all .1s ease-in-out;
        }

            #submitButton:hover {
                background-color: #2051bd;
            }

            #submitButton:active {
                transform: scale(.95);
            }

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: .2s ease-in-out;
}

    #overlay.active {
        pointer-events: all;
        opacity: 1;
    }


#main {
    background-color: #dbeafe;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#header {
    background-color: var(--mainBlue);

    display: flex;
    justify-content: space-around;
    align-items: center;

    filter: drop-shadow(0px 6px 0px var(--mainShadow));

    height: 80px;
    width: 100%;
}

    #logo {
        font-family: "AGRevueCyr";
        font-size: 40px;
        letter-spacing: 1px;

        color: var(--mainWhite);
    }

    #addBook {
        height: 59px;
        width: 63px;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
        #shadow {
            background-color: #20419c;
            border-radius: 2px;
            grid-column: 2 / 11;
            grid-row: 2 / 11;
        }

        #addButton {
            grid-row: 1 / 10;
            grid-column: 1 / 10;
            font-family: 'Mingzat', sans-serif;
            font-weight: bold;
            font-size: 30px;   

            background-color: var(--mainWhite);
            color: var(--mainBlue);
            border: none;
            border-radius: 2px;

            transition: all .1s ease-in-out;
        }

            #addButton:hover {
                background-color: #dbeafe;
            }

            #addButton:active {
                grid-column: 2 / 11;
                grid-row: 2 / 11;
            }

@keyframes slideIn {
    from {
        max-height: 0px;
        transform: scale(0);
        opacity: 0;
    }
    
    to {
        max-height: 1000px;
        transform: scale(1);
        opacity: 1;
    }
}


#books {
    height: calc(100vh - 114px);
    width: 70vw;
    padding: 14px;
    gap: 50px;

    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

    .book {
        background-color: var(--mainWhite);
        border-left: 10px solid var(--mainBlue);
        border-radius: 5px;
        filter: drop-shadow(6px 6px 0px #bfdbfe);

        height: 200px;
        width: 300px;
        padding: 20px;

        display: grid;
        grid-template-rows: 2fr 1fr;

        animation-duration: .2s;
        animation-name: slideIn;
        transition: all .2s ease-in-out;
    }
        .book.deleted{
            transform: scale(0);
            opacity: 0;
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .readRemove {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

            .readCheck {
                display: flex;
                align-items: flex-start;
                gap: 10px;
            }

                .checkBox {
                    background-image: url(./icons/checkbox.png);
                    background-size: cover;
                    opacity: 80%;
                    height: 20px;
                    width: 20px;
                }

                    .checkBoxClicked {
                        background-image: url(./icons/checkbox-marked.png);
                    }
        
            .remove {
                background-image: url(./icons/remove.png);
                background-size: cover;
                opacity: 80%;
                height: 20px;
                width: 20px;
            }

                .remove:hover {
                    opacity: 100%;
                }